$color-white: #ffffff;
$color-black: #000000;
$color-blue: #78a9ff;
$color-green: #6fdc8c;
$color-purple: #be95ff;
$color-red: #fa4d56;
$color-turquoise: #3ddbd9;
$color-yellow: #ff7eb6;

$color-gray-100: #dde1e6;
$color-gray-200: #c1c7cd;
$color-gray-300: #a2a9b0;
$color-gray-400: #878d96;
$color-gray-500: #697077;
$color-gray-600: #4d5358;
$color-gray-700: #343a3f;
$color-gray-800: #21272a;
$color-gray-900: #121619;
