@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=IBM+Plex+Sans&display=swap');

$font-mono: 'IBM PLex Mono', monospace;
$font-mono-weight: 600;

$font-sans: 'IBM Plex Sans', sans-serif;
$font-sans-weight: 400;
